@using Microsoft.AspNet.Identity
@model IdleIronman.ViewModels.AllStatsViewModel
@{
    ViewBag.Title = "IIM - Home";
}

@*<div class="jumbotron">
        <h1>General Rules</h1>
        <p class="lead">Idle Iron Man rules summarized here</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@



<div class="row">
    <h1>Idle Ironman quick rules</h1>
    <ul>
        <li>Register to begin tracking your progress.</li>
        <li>Find a team or take it on solo.</li>
        <li>Run 26.22 miles, swim, 2.4 miles, and bike 112 miles in 30 days!</li>
    </ul>
    @*This section will be visible only to authorized users*@
    @if (User.Identity.IsAuthenticated)
    {
        <h2>Users Team Name @Model.UsersTeam</h2>
    }


    @*@foreach (var record in Model.TeamStats)
    {
        <p>Team Id: @record.TeamId </p>
        <p>Team Name: @record.TeamName </p>
    }*@
    


    <table class="table">
        <tr>
            <th>
                Team Name and Photo
            </th>
            <th>
                Days Left
            </th>
            <th>
                Progress
            </th>
            <th>
                Members
            </th>
            <th>
                @if (User.Identity.IsAuthenticated)
                {
                    <p>Links</p>
                }

            </th>
        </tr>
        @foreach (var item in Model.Teams)
        {
            <tr>
                <td>
                    @item.Name<br />
                    <img src="~/Content/Images/@item.LinkToPhoto" />
                </td>
                <td>
                    Started: @item.IronManRuleModels.StartDate.ToShortDateString()
                    <br />
                    @{
                        var durationInDays = item.IronManRuleModels.DurationInDays;
                        var endDate = item.IronManRuleModels.StartDate.AddDays(durationInDays);
                        var daysLeft = (endDate - DateTime.Today).TotalDays;

                    }
                    Days left: @daysLeft
                </td>
                <td>
                    Progress
                    @{
                        double? totalSwim = null;
                        double? totalRun = null;
                        double? totalBike = null;

                        foreach (var actLog in Model.ActivityLog)
                        {
                            if (actLog.ExerciseTypeModelsId == 3 || actLog.ExerciseTypeModelsId == 6)
                            {
                                totalSwim += actLog.Distance;
                            }
                            else if (actLog.ExerciseTypeModelsId == 2)
                            {

                            }
                            else if (actLog.ExerciseTypeModelsId == 3)
                            {

                            }
                        }
                    }
                    @item.TeamTotalSwimDistance
                </td>
                <td>

                    @*Has @item.Teammates.Count Members*@
                    @foreach (var member in item.Teammates)
                    {
                        <text>@member.FirstName @member.LastName</text><br />
                    }
                </td>
                <td>
                    @{
                        if (User.Identity.IsAuthenticated)
                        {
                            var enddate = item.IronManRuleModels.StartDate.AddDays(item.IronManRuleModels.DurationInDays);

                            var daysUntilEnd = (enddate - DateTime.Today).TotalDays;



                            if (item.Teammates.Count < 3 && User.Identity.IsAuthenticated && daysUntilEnd > 15)
                            {
                                @Html.ActionLink("Join Team", "JoinTeam", "Participant", new { id = item.Id }, null)
                            }

                        }

                    }

                </td>

            </tr>
                        }
    </table>
</div>

@*@foreach (var participant in Model.ApplicationUsers)
    {
        <p>Name @participant.FirstName @participant.LastName</p>
        <p>Swim</p>

    }*@

@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@