@using IdleIronman.Models
@using Microsoft.AspNet.Identity
@model IdleIronman.ViewModels.TeamStatsListViewModel
@{
    ViewBag.Title = "IIM - Home";
}
<div class="row">
    @*This section will be visible only to authorized users*@
    @if (User.Identity.IsAuthenticated)
    {
        ApplicationDbContext _context = new ApplicationDbContext();
        var currentViewerId = User.Identity.GetUserId();
        var currentViewer = _context.Users.Single(u => u.Id == currentViewerId);
        var usersTeam = _context.Teams.Single(u => u.Id == currentViewer.TeamModelsId);
        var teamName = usersTeam.Name;

        <h1>@currentViewer.FirstName @currentViewer.LastName - @teamName</h1>

    }
    else
    {
        <h1>Idle Ironman quick rules</h1>
        <ul>
            <li>Register to begin tracking your progress.</li>
            <li>Find a team or take it on solo.</li>
            <li>Run 26.22 miles, swim, 2.4 miles, and bike 112 miles in 30 days!</li>
        </ul>
        <p>@Html.ActionLink("View all rules", "About", "Home")</p>
    }
    


    <p>The teams below are currently participating in the Idle Ironman</p>
    <table class="table" id="homeTable">
        <thead>
        <tr>
            <th>
                Team Name and Photo
            </th>
            <th>
                Days Left
            </th>
            <th>
                Progress
            </th>
            <th>
                Members
            </th>
            <th>
                @if (User.Identity.IsAuthenticated)
                {
                    <p>Links</p>
                }

            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.TeamStats)
        {
            <tr>
                <td>
                    @item.TeamName<br />
                    <img src="~/Content/Images/@item.TeamPhotoName" /><br />
                </td>
                <td>
                    Started: @item.StartDate.ToShortDateString()
                    <br />
                    Days left: @item.DaysLeft
                </td>
                <td>
                    Miles covered
                    
                    @item.TotalDistanceComplete
                </td>
                <td>
                    @foreach (var member in item.Teammates)
                    {
                        <text>@member.FirstName @member.LastName</text><br />
                    }
                </td>
                <td>
                    @{
                        if (User.Identity.IsAuthenticated)
                        {

                            var daysUntilEnd = item.DaysLeft;

                            if (item.Teammates.Count < 3 && User.Identity.IsAuthenticated && daysUntilEnd > 15)
                            {
                                @Html.ActionLink("Join Team", "JoinTeam", "Participant", new { id = item.TeamId }, null)
                            }

                        }

                    }

                </td>

            </tr>
        }
        </tbody>
    </table>

</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#homeTable").DataTable();
        })
    </script>
}