@model IdleIronman.Models.ActivityLogModels

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutNoAdds.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ActivityLogModels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExerciseTypeModels.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExerciseTypeModels.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Distance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Distance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DurationInMinutes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DurationInMinutes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
