@model IEnumerable<IdleIronman.Models.ActivityLogModels>


@{
    ViewBag.Title = "IIM - Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Individual participant data</h2>

<table class="table" id="activities">
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExerciseTypeModels.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivityDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Distance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DurationInMinutes)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.FirstName) @Html.DisplayFor(modelItem => item.ApplicationUser.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExerciseTypeModels.Name)
            </td>
            <td>
                @{
                    var query = item.ActivityDate.ToShortDateString();
                    @Html.DisplayFor(modelItem => query)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DurationInMinutes)
            </td>
        </tr>
                    }
    </tbody>
</table>
@section scripts
{
<script>
    $(document).ready(function() {
        $("#activities").DataTable();
    })
</script>
}
