@using IdleIronman.Helpers
@using Microsoft.AspNet.Identity
@model IdleIronman.Models.IndexViewModel
@{
    ViewBag.Title = "IIM";
}

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h2>@Model.MyTeam.Name</h2>
    <img src="~/Content/Images/@Model.MyTeam.LinkToPhoto" /><br />

    @using (Html.BeginForm("FileUpload", "TeamCaptain", FormMethod.Post, new {enctype = "multipart/form-data"}))
    {
        if (User.IsInRole(RoleNames.CanManageTeamData))
        {

        <label for="file">Upload Image:</label>
        <input type="file" class="btn btn-default" name="file" id="file" style="width: 100%;"/>
        <br/>
        //Cleaner appearance to input file above
        @*<label for="file">
                Click here to upload Team Photo
                <input type="file" name="file" id="file" style="display: none;" />
            </label>
            <br/>*@
        <input type="submit" value="Save" class="submit btn btn-default"/>
        }
    }
    @{
        if (Model.TeamApplications.Count > 0)
        {
            <h4>Someone wants to join your team.</h4>
            foreach (var application in Model.TeamApplications)
            {
                var userName = User.Identity.Name;
                <table></table>
                <p>@application.ApplicationUser.FirstName @application.ApplicationUser.LastName applied on @application.ApplicationDate.ToShortDateString() @Html.ActionLink("Accept", "Accept", "TeamCaptain", new { id = application.Id }, null) | @Html.ActionLink("Deny", "Deny", "TeamCaptain", new { id = application.Id }, null)</p>
            }

        }
    }

    @{
        foreach (var team in Model.AllTeamApplications)
        {
            if (team.ApplicationUserId == User.Identity.GetUserId())
            {
                <h4>Pending team application</h4>
                <p>You applied  to @team.TeamModels.Name on @team.ApplicationDate.ToShortDateString() @Html.ActionLink("Remove Application", "Delete", "TeamCaptain", new { id = team.Id }, null)</p>
            }

        }
    }


    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Data privacy:</dt>
        @if (Model.MyTeam.IsPrivate == false)
        {
            <dd>@Html.ActionLink("Make private", "ChangePrivacy", "TeamCaptain", new { id = Model.MyTeam.Id }, null)</dd>
        }
        else
        {
            <dd>@Html.ActionLink("Make public", "ChangePrivacy", "TeamCaptain", new { id = Model.MyTeam.Id }, null)</dd>
        }

        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>
        @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.

             See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.

             Uncomment the following block after you have set up two-factor authentication
        *@
        @*
            <dt>Phone Number:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None")
                @if (Model.PhoneNumber != null)
                {
                    <br />
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                    using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                    }
                }
                else
                {
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                }
            </dd>
        *@
        <dt> </dt>
        <dd>
            @*<p>
                There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication.
            </p>*@
            @*@if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Enabled
                        <input type="submit" value="Disable" class="btn btn-link" />
                        </text>
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Disabled
                        <input type="submit" value="Enable" class="btn btn-link" />
                        </text>
                    }
                }*@
        </dd>
    </dl>
</div>
