@using IdleIronman.Helpers
@using Microsoft.AspNet.Identity
@if (!Request.IsAuthenticated)
{
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Rules", "About", "Home")</li>
        @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
    </ul>
    @Html.Partial("_LoginPartial") 
}

@if (User.IsInRole(RoleNames.CanManagePersonalData))
{
    var userId = User.Identity.GetUserId();
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("My Activity", "Index", "Participant", new {id = userId}, null)</li>
        <li>@Html.ActionLink("Stats", "DisplayStats", "Participant")</li>
        <li>@Html.ActionLink("Log Activity", "LogActivity", "Participant")</li>
        <li>@Html.ActionLink("All IIM Stats", "Index", "Participant")</li>
        <li>@Html.ActionLink("Rules", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
    @Html.Partial("_LoginPartial")
}

@if (User.IsInRole(RoleNames.CanManageTeamData))
{
    var userId = User.Identity.GetUserId();
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        @*<li>@Html.ActionLink("My Stats", "Index", "Participant")</li>*@
        <li>@Html.ActionLink("My Activity", "Index", "Participant", new { id = userId }, null)</li>
        <li>@Html.ActionLink("Stats", "DisplayStats", "Participant")</li>
        <li>@Html.ActionLink("Log Activity", "LogActivity", "Participant")</li>
        <li>@Html.ActionLink("Rules", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
    @Html.Partial("_LoginPartial")
}

@if (User.IsInRole(RoleNames.CanManageAllData))
{
    var userId = User.Identity.GetUserId();
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Home", "Index", "Admin")</li>
        <li>@Html.ActionLink("Rules", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
    @Html.Partial("_LoginPartial")
}

