@model IdleIronman.ViewModels.TeamStatsListViewModel
@{
    ViewBag.Title = "DisplayStats";
    Layout = "~/Views/Shared/_LayoutForCharts.cshtml";
}

<h2>DisplayStats</h2>

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    @*<th>
                        Team ID
                    </th>*@
                    <th>
                        Name and photo
                    </th>
                    <th>
                        Timeline
                    </th>
                    <th>
                        Members
                    </th>
                    <th>
                        Progress
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var record in Model.TeamStats)
                {
                    <tr>
                        @*<td>
                            @record.TeamId
                        </td>*@
                        <td>
                            @record.TeamName<br />
                            <img src="~/Content/Images/@record.TeamPhotoName" /><br />
                            @*@record.Chart.Write(format: "png")*@
                            @*Working chart code below*@
                            @*<img src="@Url.Action("MakeChart", "Participant", new { model = @Model})" />*@
                            <div class="progress-bar" role="progressbar" aria-valuenow="@record.TotalDistanceComplete.ToString()" aria-valuemin="0" aria-valuemax="140.6" style="width: @record.TotalDistanceComplete%">@record.TotalDistanceComplete</div>
                        </td>
                        <td>
                            Started: @record.StartDate.ToShortDateString()<br/>
                            Days left: @record.DaysLeft
                        </td>
                        <td>
                            @foreach (var member in record.Teammates)
                            {
                                <text>@member.FirstName @member.LastName</text> @Html.ActionLink("view stats", "Index", "Participant", new {id = member.Id}, null) <br/>
                            }
                        </td>
                        <td>
                            Total Swim: @record.TotalSwimDistance<br/>
                            Total Run: @record.TotalRunDistance<br/>
                            Total Bike: @record.TotalBikeDistance<br/>
                            Total Distance: @record.TotalDistanceComplete
                        </td>
                    </tr>
                }
            </tbody>
        </table>    
