@using System.Security.Cryptography.X509Certificates
@model IdleIronman.ViewModels.ParticpantStatsViewModel
@{
    ViewBag.Title = "IIM - Latest Stats";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.ApplicationUser.FirstName @Model.ApplicationUser.LastName</h2>

<p>Swam: @Model.ParticipantTotalSwimDistance.ToString("0.00") miles</p>

<p>Biked: @Model.ParticipantTotalBikedDistance miles</p>

<p>Ran: @Model.ParticipantTotalRunDistance miles</p>

@*<p>Started: @Model.IronManRules.StartDate.ToShortDateString()</p>*@

<p>Days remaining: @Model.DaysUntilEnd </p>


<h3>Logged Exercises</h3>
<table class="table" id="teamList">
    <thead>
    <tr>
        <th>
            Date
        </th>
        <th>
            Exercise
        </th>
        <th>
            Distance
        </th>
        @{
            if (Model.CurrentViewer.Id == Model.ApplicationUser.Id)
            {
                <th>
                    Make Changes
                </th>
            }
        }
    </tr>
    </thead>
    <tbody>
    @foreach (var log in Model.ActivityLogModels)
    {
        <tr>
            <td>
                @log.ActivityDate.ToShortDateString()
            </td>
            <td>
                @log.ExerciseTypeModels.Name
            </td>
            <td>
                @log.Distance
            </td>
            @{
                if (Model.CurrentViewer.Id == Model.ApplicationUser.Id)
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Participant", new {id = log.Id}, null) | @Html.ActionLink("Delete", "Delete", "Participant", new {id = log.Id}, null)
                    </td>
                }
            }
        </tr>
    }
    </tbody>
</table>

<img src="@Url.Action("MakeChart", "Participant", new { swam = @Model.ParticipantTotalSwimDistance, biked = @Model.ParticipantTotalBikedDistance, ran = @Model.ParticipantTotalRunDistance})" />

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#teamList").DataTable();
        })
    </script>
}

@*<p>
    <img src="@Url.Action("ShowChart")"/>
</p>*@


@*@{
    var progressChart = new Chart(width:400, height: 400)
        .AddTitle("Exercise Progress")
        .AddSeries(
        name: "Progress",
        xValue: new[] { "Swim", "Bike", "Run" },
        yValues: new[] { @Model.ParticipantTotalSwimDistance, @Model.ParticipantTotalBikedDistance, @Model.ParticipantTotalRunDistance })
        .Write();
}*@


  
@*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |*@
    @*@Html.ActionLink("Update Info", "UpdatePickUpDay", new { id = item.Id }) |
    @Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
    @*@Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
  
